@model Categories

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<form method="post">
    
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">CATEGORY NAME</label>
        <input type="text" asp-for="CategoryName" class="form-control"  aria-describedby="emailHelp">
    </div>

    <button type="submit" class="btn btn-primary">ADD CATEGORY</button>
</form>



<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

