@model Sub_Categories

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<form method="post">

     <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">SUB-CATEGORY ID</label>
        <input type="text" asp-for="SubCategoryId" class="form-control" aria-describedby="emailHelp">
    </div>

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">SUB-CATEGORY NAME</label>
        <input type="text" asp-for="SubCategoryName" class="form-control" aria-describedby="emailHelp">
    </div>

     <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">CATEGORY ID</label>
        <input type="text" asp-for="CategoryId" class="form-control" aria-describedby="emailHelp">
    </div>
    <button type="submit" class="btn btn-primary">ADD SUB-CATEGORY</button>
</form>



<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
